#root {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
}

.active {
    color: black;
    background-color: #fff;
    border-radius: 10%;
    font-weight: bolder;
}

.item-card {
    animation: item-card 0.5s linear;
}

@keyframes item-card {
    0% {
        opacity: 0;
    }

    99% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}
